.background {
  background-color: rgba(128, 128, 128, 0.082);
  padding-bottom: 50px;
}

.back {
  position: absolute;
  top: 35px;
  left: 40px;
  width: 54px;
  height: 54px;
  background-color: rgba(128, 128, 128, 0);
}

.form {
  margin: auto;
  width: 1226px;
  height: 973px;
  border-radius: 18px;
  margin-top: 20px;
  padding: 80px;
  background-color: white;
}

.top {
  display: flex;
  margin: 0px auto 20px auto;
  width: 700px;
  padding-top: 120px;
  justify-content: space-around;
}

.top h5 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.name_last_name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  width: 878px;
}

.name {
  display: flex;
  flex-direction: column;
  margin: 10px 116px 10px 0px;
  gap: 8px;
  justify-content: space-between;
}
.nameInput {
  border-radius: 5px;
  width: 380px;
  height: 60px;
  border: solid 1px rgb(123, 174, 216);
  padding: 15px;
}

.nameInput:focus {
  border: solid 2px #6499ff;
  outline-color: #6499ff;
  background-color: rgba(100, 154, 255, 0.096);
}

.nameInputInvalid {
  border-radius: 5px;
  width: 380px;
  height: 60px;
  border: solid 1px red;
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.041);
}

.nameInputInvalid:focus {
  outline-color: red;
}

h5 {
  display: flex;
}
h6 {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  font-size: smaller;
  margin-bottom: 30px;
}

.select {
  margin: auto;
}

select {
  width: 878px;
  height: 60px;
  margin: auto;
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
  border: none;
  gap: 20px;
  margin-bottom: 10px;
}

.selectInvalid {
  width: 878px;
  height: 60px;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.199);
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
  border: none;
  gap: 20px;
}

.nameWide {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 878px;
  margin: auto;
  margin-top: 40px;
}
.nameWide input {
  margin: auto;
  border-radius: 5px;
  width: 878px;
  height: 60px;
  padding: 15px;


}

.nameWideValid {
  outline-color: #62a1eb;
  background-color: #62a2eb0a;;
  border: solid 1px rgb(123, 166, 216);

}
.nameWideValid:focus {
  outline-color: #62a1eb;
  background-color: #62a2eb27;;
  border: solid 1px rgb(123, 166, 216);

}
.nameWideInvalid {
  background-color: rgba(255, 0, 0, 0.096);
  outline-color: red;
  border: solid 1px rgb(216, 134, 123);
}

.nameWideInvalid:focus {
  background-color: rgba(255, 0, 0, 0.103);
  outline-color: red;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: auto;
  width: 878px;
}
button {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 18px 60px;
  width: 176px;
  height: 60px;
  background-color: #62a1eb;
  border-radius: 8px;
  border: none;
  color: white;
}

.buttonDiv button:hover {
  background-color: #317ad0;
}

.buttonDiv button:active {
  background-color: #1a5dab;
}
.logo {
  margin: 50px;
}

@media (max-width: 768px) {
  .form {
    margin: auto;
    width: 100%;
    height: 973px;
    border-radius: 18px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
  }

  .top {
    display: flex;
    margin: auto;
    width: 179px;
    padding-top: 20px;

    flex-direction: column;
  }


 .top h5 {
  position: relative;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  width: 300px;
  left: -20px;

  
}

  .back {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 27px;
    height: 27px;
    background-color: rgba(128, 128, 128, 0);
  }

  .name_last_name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 100%;
    min-width: 378px;
  }

  .name {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 8px;
  }

  select {
    width: 100%;
    min-width: 358px;
    height: 60px;
    margin: auto;
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
    margin-right: 10px;
    border: none;
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .selectInvalid {
    width: 100%;
    min-width: 358px;
    height: 60px;
    margin: auto;
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
    margin-right: 10px;
    border: none;
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-color: rgba(255, 0, 0, 0.199);
    outline-color: red;
    border: none;
  }

  .selectInvalid:focus {
    outline-color: red;
  }

  .nameInput:focus {
    background-color: rgba(100, 154, 255, 0.096);

    border: solid 1px 6499FF;
  }

  .nameInputInvalid:focus {
    outline-color: red;
  }

  .nameWide {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    min-width: 358px;
    margin: auto;
    margin-top: 40px;
  }
  .nameWide input {
    margin: auto;
    border-radius: 5px;
    width: 100%;
    min-width: 358px;
    height: 60px;
    border: solid 1px rgb(123, 174, 216);
    padding: 15px;
  }

  .nameWideInvalid {
    background-color: rgba(255, 0, 0, 0.096);
    outline-color: red;
  }

  .nameWideInvalid:focus {
    background-color: rgba(255, 0, 0, 0.103);
    outline-color: red;
  }

  .nameInput {
    border-radius: 5px;
    width: 100%;
    min-width: 358px;
    height: 60px;
    border: solid 1px rgb(123, 174, 216);
    padding: 15px;
  }

  .nameInputInvalid {
    border-radius: 5px;
    width: 100%;
    min-width: 358px;
    height: 60px;
    border: solid 1px rgb(123, 174, 216);
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.199);
  }

  .buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: auto;
    width: 100%;
  }

  .buttonDiv button {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 18px 60px;
    width: 132px;
    height: 60px;
    background-color: #62a1eb;
    border-radius: 8px;
    border: none;
    color: white;
  }

  .logo {
    display: none;
  }
}
