.background {
  background-color: rgba(128, 128, 128, 0.082);
  padding-bottom: 50px;
}

.back {
  position: absolute;
  top: 35px;
  left: 40px;
  width: 54px;
  height: 54px;
  background-color: rgba(128, 128, 128, 0);
}

.form {
  margin: auto;
  width: 1226px;

  border-radius: 18px;
  margin-top: 20px;
  padding: 80px;
  background-color: white;
}

.dragDrop {
  width: 878px;
  height: 423px;
  background-color: #f7f7f7;
  border: dashed 2px #4386a9;
  border-radius: 18px;
  margin: auto;
}

.dragButton:hover {
  background-color: #317ad0;
}

.dragButton button:active {
  background-color: #1a5dab;
}

.dragDropInvalid {
  width: 878px;
  height: 423px;
  border: dashed 2px #4386a9;
  background-color: rgba(255, 0, 0, 0.199);
  border-radius: 18px;
  margin: auto;
}
.dragText {
  display: flex;
  align-items: center;
  text-align: center;
  color: #4386a9;
  width: 195px;
  height: 76px;
  font-size: 19px;
  line-height: 38px;
  font-style: normal;
  font-weight: 500;
  margin: auto;
  margin-top: 107px;
}

.saveButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;
  width: 233px;
  height: 60px;
  background: #62a1eb;
  border-radius: 8px;
  margin-top: 40px;
  z-index: 2;
}

.saveButton:hover {
  background-color: #317ad0;
}

.saveButton:active {
  background-color: #1a5dab;
}

.name_last_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  width: 878px;
}

.name {
  display: flex;
  flex-direction: column;
  margin: 10px 116px 10px 0px;
  gap: 8px;
  justify-content: space-between;
}

.selectDiv {
  position: relative;
  top: -12px;
}

.selectDivNarrow {
  width: 277px;
  position: relative;
  top: -12px;
  border: solid 3px #6499FF

}


.selectDivNarrow:focus{
  border: solid 3px #6499FF
}
.selectDivNarrowInvalid:focus{
  border: solid 3px red;
  outline-color: red;
}
.selectDivNarrowInvalid {
  width: 277px;
  position: relative;
  top: -12px;
  background-color: rgba(255, 0, 0, 0.089);
  border: solid 1px red

}

.nameInput {
  border-radius: 5px;
  width: 380px;
  height: 60px;
  border: solid 1px rgb(123, 174, 216);
  padding: 15px;
}

.nameInput:focus{
  outline-color: #6499FF;
  background-color: #2b4cf213 ;
}
.nameInputInvalid:focus{
  outline-color:red ;
}

.nameInputInvalid {
  border-radius: 5px;
  width: 380px;
  height: 60px;
  border: solid 2px rgb(235, 17, 17);
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.048);
  
}

.hr {
  width: 878px;
  margin: auto;
}

.nameInputNarrow {
  border-radius: 5px;
  width: 277px;
  height: 60px;
  border: solid 1px rgb(123, 174, 216);
  padding: 15px;
}

.nameInputNarrow:focus{
  outline-color: #6499FF;
  background-color: #2b4cf213 ;
}
.nameInputNarrowInvaid:focus{
  outline-color:red ;
  border: none;
}
.nameInputNarrowInvalid {
  border-radius: 5px;
  width: 277px;
  height: 60px;
  background-color: rgba(255, 0, 0, 0.199);
  border: solid 1px red;
  padding: 15px;
  outline-color: red;
}

.nameNarrow {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 0px;
  gap: 8px;
  justify-content: space-between;
}

.radioButtonsDiv {
  display: flex;
  flex: row;
  justify-content: flex-start;
  margin: auto;
  align-items: center;
  gap: 60px;
}

.radioButtonsDivInvalid {
  display: flex;
  flex: row;
  justify-content: flex-start;
  margin: auto;
  align-items: center;
  border-radius: 20px;

  gap: 60px;
  border: solid 1px rgb(123, 174, 216);
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.199);
}
.radioSelect input {
  margin: 5px;
  margin-left: 0px;
  
}

.radioWrap {
  position: relative;
  top: -60px;
  border-radius: 5px;
  width: 380px;
  height: 60px;
  padding: 15px;
}

.radioWrap h5 {
  margin-bottom: 25px;
}

.dateCorrection {
  position: relative;
  top: -36px;
}

.condition {
  margin: 20px auto 20px 80px;
  margin-left: 80px;
}

.formEndButtons {
  display: flex;
  margin: auto;
  flex-direction: row;
  width: 878px;
  justify-content: space-between;
}
.backButton {
  position: relative;
  background-color: #4385a900;
  color: #62a1eb;
  font-weight: 500;
  width: 20px;
  font-size: 18px;
  top: 25px;
}

.backButton:active{
  background-color: #1a5eab02;
}






@media (max-width: 768px) {
  .back {
    position: absolute;
    top: -2px;
    left: -20px;
    width: 27px;
    height: 27px;
    background-color: rgba(128, 128, 128, 0);
  }

  .form {
    margin: auto;
    width: 100%;

    border-radius: 18px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
  }

  .dragDrop {
    width: 100%;
    height: 244px;
    background-color: #f7f7f7;
    border: dashed 2px #4386a9;
    border-radius: 18px;
    margin: auto;
  }

  .dragDrop button {
    display: none;
  }

  

  .dragDropInvalid {
    width: 100%;
    height: 244px;
    border: dashed 2px #4386a9;
    background-color: rgba(255, 0, 0, 0.199);
    border-radius: 18px;
    margin: auto;
  }

  .dragText {
    display: flex;
    align-items: center;
    text-align: center;
    color: #4386a9;
    width: 195px;
    height: 76px;
    font-size: 19px;
    line-height: 38px;
    font-style: normal;
    font-weight: 500;
    margin: auto;
    margin-top: 80px;
  }

  .name {
    display: flex;
    flex-direction: column;
    margin: 10px 116px 10px 0px;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
  }

  .nameInputNarrow {
    border-radius: 5px;
    width: 100%;
    min-width: 358px;
    height: 60px;
    border: solid 1px rgb(123, 174, 216);
    padding: 5px;
  }

  .nameInputNarrow:focus{
    outline-color: #6499FF;
    background-color: #2b4cf213 ;
  }
  .nameInputNarrowInvaid:focus{
    outline-color:red ;
    border: none;
  }
  .nameInputNarrowInvalid {
    border-radius: 5px;
    width: 100%;
    min-width: 358px;
    margin: auto;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.199);
    padding: 5px;
  }

  .nameInput {
    border-radius: 5px;
    width: 100%;
    min-width: 358px;
    height: 60px;
    border: solid 1px rgb(123, 174, 216);
    padding: 15px;
    margin: auto;
  }

  .nameInput:focus{
    outline-color: #6499FF;
    background-color: #2b4cf213 ;
  }
  .nameInputInvalid:focus{
    outline-color:red ;
  }
  
  .nameInputInvalid {
    border-radius: 5px;
    width: 100%;
    min-width: 358px;
    height: 60px;
    border: solid 1px rgb(236, 48, 48);
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.075);
  }

  .radioWrap {
    position: relative;
    top: -30px;
    border-radius: 5px;
    width: 380px;
    height: 60px;
    padding: 15px;
  }

  .radioWrap h5 {
    margin-bottom: 25px;
  }

  .hr {
    display: none;
    width: 0px;
    margin: auto;
  }

  .formEndButtons {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .saveButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    width: 162px;
    height: 46px;
    background: #62a1eb;
    border-radius: 8px;
    margin-top: 40px;
    z-index: 2;
  }

  .name_last_name {
    display: block;

    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 100%;
  }
  .radioWrap {
    position: relative;
    top: -30px;
    border-radius: 5px;
    width: 380px;
    height: 60px;
    padding: 5px;
    margin-bottom: 60px;
  }
  .radioWrap h5 {
    margin-bottom: 5px;
  }

  .condition {
    margin: auto;
    margin-left: 0px;
  }

  .radioButtonsDiv {
    display: flex;
    flex: row;
    justify-content: flex-start;

    margin-left: 0px;
    align-items: center;
  }

  .radioButtonsDivInvalid {
    display: flex;
    flex: row;
    justify-content: flex-start;
    margin: auto;
    margin-left: 0px;
    align-items: center;
    border-radius: 20px;

    gap: 60px;
    border: solid 1px rgb(123, 174, 216);
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.199);
  }
  .radioSelect input {
    margin: 5px;
    margin-left: 0px;
  }

  .selectDivNarrow {
    width: 100%;
    position: relative;
    top: -12px;
  }
  .selectDivNarrowInvalid {
    width: 100%;
    position: relative;
    top: -12px;
    background-color: rgba(255, 0, 0, 0.082);
  }

  .backButton {
   
    top: 10px;
  }
  
}
